* {
    list-style: none;
    text-decoration: none;
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* Header Start */

.logo {
    font-size: 48px;
    font-weight: 900;
    cursor: pointer;
}

.header-links li {
    display: inline-block;
    padding: 0px 20px;
}

.header a {
    color: #E5E7EB;
}

.header {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15%;
}

.logo,
.header-links li a{
    transition: all 0.3s ease 0s;
}

.logo:hover,
.header-links li a:hover{
    color: #32a0a8;
}

/* Header End */

/* Main Section Start */

.main-section {
    background-color: #1F2937;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    padding: 100px 15%;
}

.main-heading {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.main-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

button.main-sign-up {
    background-color: #32a0a8;
    color: #1F2937;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100px;
    font-weight: 700;
    cursor: pointer;
}

.main {
    padding-right: 20px;
    max-width: 400px;
}

.main div {
    margin-bottom: 15px;
}

.main-image {
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    border-radius: 50px;
    background: #32a0a8;
    border-radius: 10px;
    background: #1F2937;
}

button.main-sign-up {
    transition: all 0.3s ease 0s;
}

button.main-sign-up:hover {
    background-color: #E5E7EB;
}

/* Main Section End */

/* Info Section Start */

.info-section {
    padding: 50px 15%;
    background-color: #e0e0e0;
}

.info-heading {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin-bottom: 50px;
}

.info-image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
}

.info-image {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
}

.info-image img{
    height: 100px;
}

/* Info Section End */

/* Quote Section Start */

.quote-section {
    background-color: #E5E7EB;
    padding: 100px 15%;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
    text-align: left;
}

.quotee {
    font-weight: 900;
    text-align: right;
}

/* Quote Section End */

/* Call to Action Section Start */

.cta-section {
padding: 100px 15%;
}

.cta {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 50px 15%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.cta-heading {
    font-weight: 900;
    font-size: 24px;
}

button.cta-sign-up {
    background-color: #32a0a8;
    color: #1F2937;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100px;
    font-weight: 700;
    cursor: pointer;
}

button.cta-sign-up {
    transition: all 0.3s ease 0s;
}

button.cta-sign-up:hover {
    background-color: #E5E7EB;
}

/* Call to Action Section End */

/*  Footer Start */

.footer {
    width: 100%;
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}







